*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg,#c842af 0%, #d0b819 100%);
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}
header{
  text-align: center;
}
main{
  text-align: center;
  padding: 20px;
}
main button{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: none;
  background-color: red;
  font-size: 50px;
  cursor: pointer;
}
main button:active{
  background-color: black;
  color: white;
}
main p{
  margin-top: 20px;
  font-size: 50px;
  border: 2px solid linear-gradient(90deg,#d0b819 0%, #c842af 100%);
  border-radius: 5px;
}
footer{
  text-align: center;
}

